# build output
llm-explainer/dist/
# generated types
llm-explainer/.astro/

# dependencies
llm-explainer/node_modules/

# logs
llm-explainer/npm-debug.log*
llm-explainer/yarn-debug.log*
llm-explainer/yarn-error.log*
llm-explainer/pnpm-debug.log*

# environment variables
llm-explainer/.env
llm-explainer/.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
llm-explainer/.idea/
