---
import "../styles/global.css";
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><slot name="title" /></title>
  </head>
  <body>
    <slot />
  </body>
</html>
