@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-child {
  flex: 1;
}

.graphic-container {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 10;
}

.text-container {
  padding: 2rem;
}
